<!-- Player Section -->
<div class="main-section">
    <!-- Large Media Player Section -->
    <div class="row w-row">
        <div class="mediaplayer w-col w-col-7">
            <div class="track-art-container">
                <div class="media-control-container">
                    <div class="media-player-controls w-row">
                        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4"><img class="media-control-button grow" id="media-back" src="images/back_pressed.png"
                                width="50">
                        </div>
                        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4"><img class="media-control-button grow" id="media-pause" src="images/Pause.png" width="39">
                        </div>
                        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4"><img class="media-control-button grow" id="media-skip" src="images/forward_pressed.png"
                                width="50">
                        </div>
                    </div>
                </div><img class="large-track-art" id="large-track-art" src="images/C-Drop-Shawdow_1.png" width="420">
            </div>
        </div>

        <!-- Search Results Component -->
        <div class="search-results"><img class="backtoplayer" src="images/back.png" width="24">
          <h2 class="heading-7">Search Results</h2>
          <div class="search-service-container">
            <h4 class="heading-6">SoundCloud</h4>
            <div class="search-result-container w-clearfix"><img class="search-result-art" src="images/Album-Art.png" width="61"><img class="add-track-button" data-ix="scale" src="images/plus-icon.png" width="26">
              <div class="sr-info">
                <p class="sr-title"><strong>Track Title</strong>
                </p>
                <p class="sr-artist">Artist</p>
                <p class="sr-album">Album</p>
              </div>
            </div>
          </div>
          <div class="search-service-container">
            <h4 class="search-headings">Spotify</h4>
            <div class="search-result-container w-clearfix"><img class="search-result-art" src="images/Album-Art.png" width="61"><img class="add-track-button" data-ix="scale" src="images/plus-icon.png" width="26">
              <div class="sr-info">
                <p class="sr-title"><strong>Track Title</strong>
                </p>
                <p class="sr-artist">Artist</p>
                <p class="sr-album">Album</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Playlist Section -->
        <div class="main-column w-col w-col-5">
            <div class="share-button-container w-clearfix">
                <div class="custom-button" id="share-button">Share</div>
            </div>
            <div class="playlst-info-container w-container">
                <h4 class="heading" id="playlist-title">Title of Playlist</h4>
                <div class="text-block" id="username">Created by</div>
            </div>
            <div class="playlist-container">
                <div class="playlist-item-container w-clearfix">
                    <div class="p-order">1</div><img class="three-dot-menu" sizes="34px" src="images/Artboard-1.png" srcset="images/Artboard-1-p-500.png 500w, images/Artboard-1.png 576w"
                        width="34"><img class="playlist-item-image w-hidden-medium w-hidden-small w-hidden-tiny" sizes="(max-width: 767px) 100vw, 34px"
                        src="images/C-Drop-Shawdow.png" srcset="images/C-Drop-Shawdow-p-500.png 500w, images/C-Drop-Shawdow.png 576w"
                        width="30">
                        
                    <p class="track-duration">0:00</p>
                    <div class="playlist-item-info">
                        <h6 class="track-title">Track Title</h6>
                        <div class="artist">Artist</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>