<!-- Search Bar and Filters -->
  <div class="search-container w-form">
    <form data-name="Search-Bar" id="wf-form-Search-Bar" name="wf-form-Search-Bar" ng-submit="vm.search(vm.spotify, vm.sound, vm.term)">
      <div class="w-row">
        <div class="w-col w-col-10">
          <div class="search-box w-clearfix">
            <input class="text-field w-input" data-name="search" id="search" maxlength="256" name="search" placeholder="Search artist, track, or album"
              type="text" ng-model="vm.term">
            <input class="search-submit w-button" data-wait="Please wait..." type="submit" value="Search">
          </div>
        </div>
        <div class="w-col w-col-2">
          <div class="w-checkbox w-clearfix">
            <input ng-model="vm.sound" checked="checked" class="w-checkbox-input" data-name="soundcloud" id="soundcloud" name="soundcloud" type="checkbox">
            <label class="search-filters w-form-label" for="soundcloud">SoundCloud</label>
          </div>
          <div class="checkbox-field w-checkbox w-clearfix">
            <input ng-model="vm.spotify" class="w-checkbox-input" data-name="spotify" id="spotify" name="spotify" type="checkbox">
            <label class="search-filters w-form-label" for="spotify">Spotify</label>
          </div>
        </div>
      </div>
    </form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form</div>
    </div>
  </div>