<!-- Search Results Component -->
<div class="search-results"><img class="backtoplayer" src="images/back.png" width="24">
  <h2 class="heading-7">Search Results</h2>
  <div class="search-service-container">
    <h4 class="heading-6">SoundCloud</h4>
    <div class="search-result-container w-clearfix"><img class="search-result-art" src="images/Album-Art.png" width="61"><img class="add-track-button" data-ix="scale" src="images/plus-icon.png" width="26">
      <div class="sr-info">
        <p class="sr-title"><strong>Track Title</strong>
        </p>
        <p class="sr-artist">Artist</p>
        <p class="sr-album">Album</p>
      </div>
    </div>
  </div>
  <div class="search-service-container">
    <h4 class="search-headings">Spotify</h4>
    <div class="search-result-container w-clearfix"><img class="search-result-art" src="images/Album-Art.png" width="61"><img class="add-track-button" data-ix="scale" src="images/plus-icon.png" width="26">
      <div class="sr-info">
        <p class="sr-title"><strong>Track Title</strong>
        </p>
        <p class="sr-artist">Artist</p>
        <p class="sr-album">Album</p>
      </div>
    </div>
  </div>
</div>